.github/workflows/cicd_production.yml merge=theirs
appspec.yml merge=theirs
scripts/health.sh merge=theirs
scripts/profile.sh merge=theirs
scripts/start.sh merge=theirs
scripts/stop.sh merge=theirs
scripts/switch.sh merge=theirs