HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# properties 제외 설정
/src/main/resources/*.properties
/src/main/resources/application.properties
src/main/resources/application.properties

/src/main/generated/com/nawabali/nawabali/constant/QAddress.java
/src/main/generated/com/nawabali/nawabali/domain/QBookMark.java
/src/main/generated/com/nawabali/nawabali/domain/QChat_ChatMessage.java
/src/main/generated/com/nawabali/nawabali/domain/QChat_ChatRoom.java
/src/main/generated/com/nawabali/nawabali/domain/QComment.java
/src/main/generated/com/nawabali/nawabali/domain/QLike.java
/src/main/generated/com/nawabali/nawabali/domain/QPost.java
/src/main/generated/com/nawabali/nawabali/domain/image/QPostImage.java
/src/main/generated/com/nawabali/nawabali/domain/image/QProfileImage.java
/src/main/generated/com/nawabali/nawabali/domain/QTimeStamp.java
/src/main/generated/com/nawabali/nawabali/constant/QTown.java
/src/main/generated/com/nawabali/nawabali/domain/QUser.java
/src/main/generated/com/nawabali/nawabali/domain/QNotification.java

# CI/CD, 무중단배포 관련 파일
/appspec.yml
.github/workflows/cicd_production.yml
scripts/health.sh
scripts/profile.sh
scripts/start.sh
scripts/stop.sh
scripts/switch.sh